body{
    background-color: coral;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header{
    background-color: aquamarine;
    text-underline-offset: none;
}
video{
    width: 480px;
    height: 360px;
    justify-self: center;

}