<!DOCTYPE html>
<head>
    <Title>Welcome to Comparitor</Title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">

</head>
<body>
    <header>
        <nav>
            <div class="topnav">
                <a class="active" href="#home">Home</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
          </div>
        </nav>
    </header>
    <h1>Welcome to The Comparitor</h1>
    <br>
    <h4>Framework: </h4>
    <br>
    <img src="{{ url_for('video_feed') }}" width="100%">
    <br>
    <button>Start Detection</button>
    <br> 
    <a href="">view in Django</a>
    <script>

    </script>
</body>